body {
    background-color: rgb(116, 116, 206);
    background-size: 100vw 100vh;
}

.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

#btnRetry {
    text-decoration: none;
    color: rgb(37, 2, 194);
}

#btnRetry:hover {
    color: rgb(255, 18, 1);
    font-weight: bold;
}

#btnEqual {
    margin-right: 20px;
    margin-left: 20px;
}